#drawioContainer > div[style*="z-index: 999"][style*="height: 30px"] {
  display: none !important;
}
div[style*="z-index: 999"][style*="height: 30px"][style*="top: -30px"] {
  display: none !important;
}
